<div class="content">
    <ul>
        <li>
            <a href="#">
                <span class="title">Item 1</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="title">Item 2</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="title">Item 3</span>
            </a>
        </li>
    </ul>
</div>
