<div class="content">
	<%= @error + "<br />" unless @error.nil? %>
	<form class="panel" title="Other Location" id="other_location_form" method="POST" action="<%= url_for_type(:action => :geocode_other_location) %>">
		<b>Other Location</b><br />
		<input type="text" name="other_location" style="background-color: white; border: 1px solid black; width: 300px;" />
		<input type="submit" value="Next" class="standardButton" />
	</form>
</div>

