<div class="content">
	<a href="Main">
		<img src="/public/images/iphone/main_background.png" height="<%= System.get_property("screen_height") %>" width="<%= System.get_property("screen_width") %>" />
	</a>
</div>
