
<!-- only show for Android - iPhone has own toolbar -->

<% if System::get_property('platform') == 'ANDROID' %>
    <div class="toolbar">
    	<div class="leftItem" class="regularButton"><%= link_to "Back", :action => :index %></div>
	</div>
<% end %>

<div class="content">
	<center><img src="/public/images/logo.jpg" border="0" alt="logo"></center>
	<h2><%= @appname %></h2>
	<i>Version <%= @appversion %></i><br />
	<i>Copyright Accenture LLC 2010</i>
	<br />
	<br />
	<h3>Authors</h3>
	Eugene Yew<br />
	Mathew Rodley<br />
	Packaged by David Shin<br />
	<br />
	<h3>Attributions</h3>
	This application uses the glyphish free icon set from http://glyphish.com/<br />
	<br />
	This application is developed using Rhomoble with Rhodes Framework, which is free and open sourced under the MIT license, details below:<br />
	<br />
	Copyright (c) 2010, Rhomobile, Inc.<br />
	<br />
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br />
	<br />
	THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</div>
