<%= render :partial => "partials/navbar", :locals => { :use_html_nav => @use_html_nav, :nav_left => @nav_left, :nav_right => @nav_right } %>
<div class="content">
	<h2><%= @appname %></h2>
	<i>Version <%= @appversion %></i><br />
	<i>Copyright Accenture LLP 2011. All Rights Reserved.</i>
	<br />	
	<br />
	This application is a sample proof of concept application created to demonstrate a cross-platform mobile application built on Rhomobile, accessing data provided by NYC, exposed as a Web Service running on Google App Engine, and demonstrating location-based capability with geo-coding services from Google Maps APIs.
	<br />
	<br />
	The source code is open source, published under the Apache License, version 2.0, and available at the following locations:<br />
	<br />
	Mobile Application URL:
	<br />
	git@git.rhohub.com:nycapps_poc/myneighbourhood-rhodes.git
	<br />
	Web Service URL: 
	<br />	
	http://code.google.com/p/nyc-apps-gae-ws/
	<br />	
	<br />	
	<h3>Attributions</h3>
		This application uses the free icon set from http://glyphish.com/, created by Joseph Wain, published under a Creative Commons Attribution license.<br />		
	<br />
	The mobile application was developed using Rhomoble Rhodes Framework, which is free and open source under the MIT license.
	