<%= render :partial => "partials/navbar", :locals => { :use_html_nav => @use_html_nav, :nav_left => @nav_left, :nav_right => @nav_right } %>
<div class="content">
	<h2><%= @appname %></h2>
	<i>Version <%= @appversion %></i><br />
	<i>Copyright Accenture LLP 2010</i>
	<br />	
	<br />
	This application is a sample proof of concept application created to demonstrate cross platform mobile application built on Rhomobile, accessing data provided by NYC Government exposed as a Web Service running on Google App Engine and demonstrating location based capability with geocoding services from Google Maps APIs. 
	<br />
	<br />
	This was developed by the team as a volunteer effort / learning exercise done outside of their day jobs for the NYC Big Apps 2.0 contest.
	<br />
	<br />
	Google App Engine Web Service URL: http://nyc-apps-poc.appspot.com/rest/json/parking_facility 
	<br />
	<br />
	The source code is open source and available here:
	<br />
	<br />
	Mobile Application: git@git.rhohub.com:nycapps_poc/myneighbourhood-rhodes.git
	<br />
	Google App Engine Web Service: http://code.google.com/p/nyc-apps-gae-ws/
<br />
<br />
	<h3>Project Team:</h3>
	Mobile Application: Eugene Yew & Mathew Rodley<br />
	Google App Engine: Shuntaro Kawakami <br />
	iOS App Packaging: David Shin<br />
	Project Sponsor: John Coyle<br />
	Submission Co-ordinators: Anthony Ko & Mark Campbell<br />
	Documentation & Reviews: Saurabh Saraswat, Rajeev Jha, Aparna Nair<br />
	Planning: Achim Welter, José Morán Moya, Raul Sanchez<br />
	iPhone Testers: Keir Buckhurst, Marc Marin, Latrise K Ashford <br />
	Android Testers: Matthew McCawley, Charles Jacco, Will Lee<br />
	Submission Video: Matthew McCawley & Mark Campbell<br />
<br />
	<h3>Attributions</h3>
	This application uses the glyphish free icon set from http://glyphish.com/<br />
	<br />
	This application is developed using Rhomoble with Rhodes Framework, which is free and open sourced under the MIT license, details below:<br />
	<br />
	Copyright (c) 2010, Rhomobile, Inc.<br />
	<br />
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br />
	<br />
	THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</div>
