<%= render :partial => "partials/navbar", :locals => { :use_html_nav => @use_html_nav, :nav_left => @nav_left, :nav_right => @nav_right } %>
<div class="content">

  <h3>Are you sure?</h3>
	<div style="margin: 10px;">This will clear your saved search history.</div>
</div>
